

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1637007960164-4 > input {border-color: rgb(191, 191, 191);
        }
        .silex-id-1637008743347-30 {top: 20px; left: 20px; height: 40px; width: 100px;
        }
        .silex-id-1637008785189-32 {top: 140px; left: 20px; height: 1.4em; width: 100px;
        }
        .silex-id-1637008854189-33 {top: 140px; left: 120px; height: 1.4em; width: 100px;
        }
        .silex-id-1637008895151-34 {top: 180px; left: 20px; height: 100px; width: 60px; font-size: 30px;
        }
        .silex-id-1637007857180-1 {top: 400px; left: 80px; height: 60px; width: 40px; font-size: 60px;
        }
        .silex-id-1637007878242-2 {top: 400px; left: 200px; height: 100px; width: 200px; font-size: 60px;
        }
        .silex-id-1637007925774-3 {top: 400px; left: 380px; height: 100px; width: 100px; font-size: 60px;
        }
        .silex-id-1637008326645-12 {top: 400px; left: 480px; height: 60px; width: 40px; font-size: 60px;
        }
        .silex-id-1637008364585-16 {top: 400px; left: 700px; height: 100px; width: 100px; font-size: 60px;
        }
        .silex-id-1637008467949-17 {top: 400px; left: 580px; height: 100px; width: 100px; font-size: 60px;
        }
        .silex-id-1637008568925-20 {top: 400px; left: 780px; height: 60px; width: 40px; font-size: 60px;
        }
        .silex-id-1637008612329-24 {top: 400px; left: 880px; height: 100px; width: 100px; font-size: 60px;
        }
        .silex-id-1637008619188-25 {top: 400px; left: 1000px; height: 100px; width: 100px; font-size: 60px;
        }
        .silex-id-1637009012320-37 {top: 300px; left: 20px; height: 40px; width: 200px;
        }
        .silex-id-1637009064772-38 {top: 300px; left: 220px; height: 100px; width: 100px;
        }
        .silex-id-1637009151429-41 {top: 540px; left: 80px; height: 60px; width: 60px; font-size: 60px;
        }
        .silex-id-1637009185583-43 {top: 640px; left: 20px; height: 100px; width: 480px;
        }
        .silex-id-1637009274421-44 {top: 640px; left: 520px; height: 1.4em; width: 100px;
        }
        .silex-id-1637009276138-46 {top: 700px; left: 520px; height: 1.4em; width: 140px;
        }
        .silex-id-1637009300975-48 {top: 640px; left: 660px; height: 1.4em; width: 100px;
        }
        .silex-id-1637009377952-49 {top: 700px; left: 660px; height: 1.4em; width: 140px;
        }
        .silex-id-1637009417816-50 {top: 640px; left: 820px; height: 1.4em; width: 100px;
        }
        .silex-id-1637009429574-51 {top: 700px; left: 820px; height: 1.4em; width: 140px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 360px; left: 154px; width: 1206px; height: 1040px;
        }
        .silex-id-1637009520026-53 {top: 840px; left: 440px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1637009560693-55 {top: 840px; left: 80px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1637009556346-54 {top: 840px; left: 360px; height: 64px; width: 64px;
        }
        .silex-id-1637009575235-57 {top: 920px; left: 360px; height: 64px; width: 64px;
        }
        .silex-id-1637082156571-1 {top: 40px; left: 500px; height: 180px; width: 660px;
        }
        .silex-id-1637008628956-27 {top: 400px; left: 920px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008523996-19 {top: 380px; left: 720px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008575756-21 {top: 400px; left: 820px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008505410-18 {top: 400px; left: 620px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008345644-14 {top: 400px; left: 520px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008211422-11 {top: 380px; left: 400px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008143704-9 {top: 400px; left: 320px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008059854-5 {top: 400px; left: 120px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637007960164-4 {top: 400px; left: 20px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637009152975-42 {top: 540px; left: 120px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637009145323-40 {top: 540px; left: 20px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008940869-36 {top: 220px; left: 80px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008934019-35 {top: 160px; left: 80px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
        .silex-id-1637008721902-29 {top: 40px; left: 20px; height: 60px; width: 60px; background-color: rgb(158, 158, 158); font-size: 12px;
        }
    